{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "scripts-options-markup-styles",
  "svelteIndentScriptAndStyle": true
}
